#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${package}.dao.AcotAccountMapper" >
  <resultMap id="BaseResultMap" type="${package}.domain.AcotAccount" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="accout_name" property="accoutName" jdbcType="VARCHAR" />
    <result column="accout_type" property="accoutType" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="accout_status" property="accoutStatus" jdbcType="TINYINT" />
    <result column="register_channle" property="registerChannle" jdbcType="INTEGER" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="authenticate_datetime" property="authenticateDatetime" jdbcType="TIMESTAMP" />
    <result column="is_disable" property="isDisable" jdbcType="BIT" />
    <result column="is_unregister" property="isUnregister" jdbcType="BIT" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
</mapper>